/* BODY */
.auto-fit, #locationGif{
    width: 100% !important;
    height: 100% !important;
    margin: 0px;
    padding: 0px;
    position: relative;
    z-index: 0 !important;
}

.photo-description-text {
    float: center;
    bottom: 1px !important;
    font-size: 4px;
    position: absolute;
    z-index: 1 !important;
}


.container{
    padding-bottom: 10px;
}

.background{
    z-index: -1;
}

/* INTERFACE */
#backgroundimage{
    width: 100% !important;
    height: 300px !important;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.form-control{
    width: 80%;
}

.btn-primary{
    float: right;
    margin-top: -35px;
    margin-right: 70px;
}

.display-4{
    color:rgb(39, 38, 38) !important;
    text-shadow: 2px 2px rgb(119, 157, 255);
    opacity: 75% !important;
}

button {
    border: none;
    background: none;
}

.display-4:hover{
    color:rgb(39, 38, 38) !important;
    opacity: 85% !important;
}

.card-body{
    color: black;
    opacity: 75%;
    font-size: 13px;
    text-align: center;
    text-shadow: 1px 2px white;
    font-weight: bold;
}

h2, .h2 {
    font-size: 30px;
    float: left !important;
    margin-right: 60%;
    text-shadow: 2px 2px lightgrey;
    font-weight: bold;
}

.bg-modal p {
    margin: 0 0 47px 40px;
    text-align: left;
    padding-right: 49px;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 75% !important;
    
}

.card-img-top {
    margin: auto !important;
    margin-bottom: -30px !important;
}
/* POPUP MODAL */
.hide {
    display: none;
}
  
.show {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
.bg-modal {
    width: 100%;
    height: 125%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
  
.bg-modal h1 {
    color: white;
    text-shadow: whitesmoke;
}
  
.modal-content {
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 4px;
    text-align: center; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
  
.modal-body {
    width: 70%;
    height: 70%;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    text-align: center; 
    position: relative;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: auto;
    margin-right: auto;
}

.fa-window-close {
    padding-left: 550px;
    padding-top: 15px;
    padding-right: 15px;
    font-size: 35px;
    color: gray;
    opacity: 50%;
}

.fa-window-close:hover {
    padding-left: 550px;
    padding-top: 15px;
    color: gray;
    opacity: 65%;
}

.fa-arrow-left:hover, .fa-arrow-right:hover {
    opacity: 50%;
}



ul {
    list-style-type: none;
}

  
  